USE [master]
GO
/****** Object:  Database [GMI_Equity]    Script Date: 5/5/2017 3:29:25 PM ******/
CREATE DATABASE [GMI_Equity] ON  PRIMARY 
( NAME = N'GMI_Equity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLEXPRESS14\MSSQL\DATA\GMI_Equity.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GMI_Equity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLEXPRESS14\MSSQL\DATA\GMI_Equity_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GMI_Equity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GMI_Equity]
GO
/****** Object:  User [Sapient]    Script Date: 5/5/2017 3:29:25 PM ******/
CREATE USER [Sapient] FOR LOGIN [Sapient] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'Sapient'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'Sapient'
GO
/****** Object:  Table [dbo].[Block]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Block](
	[BlockID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[BlockStatusID] [bigint] NOT NULL,
	[SymbolID] [bigint] NOT NULL,
	[ExectuedQty] [bigint] NOT NULL,
	[LimitPrice] [decimal](18, 0) NOT NULL,
	[TotalQty] [bigint] NOT NULL,
	[StopPrice] [decimal](18, 0) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Block] PRIMARY KEY CLUSTERED 
(
	[BlockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Block_status]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Block_status](
	[BlockStatusId] [bigint] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](50) NOT NULL,
	[ISActive] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Block_status] PRIMARY KEY CLUSTERED 
(
	[BlockStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderTypeID] [bigint] NOT NULL,
	[BlockID] [bigint] NULL,
	[PortfolioID] [bigint] NOT NULL,
	[PMID] [bigint] NOT NULL,
	[OrderStatusID] [bigint] NOT NULL,
	[MarketPrice] [decimal](18, 0) NULL,
	[LimitPrice] [decimal](18, 0) NULL,
	[AllocatedQty] [bigint] NOT NULL,
	[TotalQty] [bigint] NOT NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[Side] [varchar](50) NOT NULL,
	[SymbolID] [bigint] NOT NULL,
	[StopPrice] [decimal](18, 0) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order_Status]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order_Status](
	[OrderStatusID] [bigint] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](50) NOT NULL,
	[ISActive] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Order_Status] PRIMARY KEY CLUSTERED 
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order_Type]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order_Type](
	[OrderTypeID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Order_Type\] PRIMARY KEY CLUSTERED 
(
	[OrderTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orders]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orders](
	[OrderID] [varchar](50) NULL,
	[OrderTypeID] [varchar](50) NULL,
	[BlockID] [varchar](50) NULL,
	[RiskClassID] [varchar](50) NULL,
	[PMID] [varchar](50) NULL,
	[OrderStatusID] [varchar](50) NULL,
	[MarketPrice] [varchar](50) NULL,
	[LimitPrice] [varchar](50) NULL,
	[AllocatedQty] [varchar](50) NULL,
	[TotalQty] [varchar](50) NULL,
	[ExpiryDate] [varchar](50) NULL,
	[Side] [varchar](50) NULL,
	[SymbolID] [varchar](50) NULL,
	[StopPrice] [varchar](50) NULL,
	[CreationDate] [varchar](50) NULL,
	[UpdationDate] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Portfolio]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Portfolio](
	[PortfolioID] [bigint] IDENTITY(1,1) NOT NULL,
	[PortfolioName] [varchar](50) NULL,
	[ISActive] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdationDate] [datetime2](7) NOT NULL,
	[UserID] [bigint] NULL,
 CONSTRAINT [PK_Risk_Class] PRIMARY KEY CLUSTERED 
(
	[PortfolioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleType] [varchar](50) NOT NULL,
	[ISActive] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Symbol_Properties]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Symbol_Properties](
	[SymbolID] [bigint] IDENTITY(1,1) NOT NULL,
	[Symbol] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Symbol_Properties] PRIMARY KEY CLUSTERED 
(
	[SymbolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[LName] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[PassWord] [varchar](50) NOT NULL,
	[ISActive] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[UserRoleID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[RoleID] [bigint] NOT NULL,
	[ISActive] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_User_Role] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Block] ON 

INSERT [dbo].[Block] ([BlockID], [UserID], [BlockStatusID], [SymbolID], [ExectuedQty], [LimitPrice], [TotalQty], [StopPrice], [CreationDate], [UpdationDate]) VALUES (1, 1, 1, 1, 0, CAST(1000 AS Decimal(18, 0)), 1222, CAST(50 AS Decimal(18, 0)), CAST(N'2017-03-16 10:13:24.5193828' AS DateTime2), CAST(N'2017-03-16 10:13:24.5193828' AS DateTime2))
INSERT [dbo].[Block] ([BlockID], [UserID], [BlockStatusID], [SymbolID], [ExectuedQty], [LimitPrice], [TotalQty], [StopPrice], [CreationDate], [UpdationDate]) VALUES (2, 4, 1, 2, 0, CAST(1000 AS Decimal(18, 0)), 1212, CAST(50 AS Decimal(18, 0)), CAST(N'2017-03-16 10:24:21.2691243' AS DateTime2), CAST(N'2017-03-16 10:24:21.2691243' AS DateTime2))
INSERT [dbo].[Block] ([BlockID], [UserID], [BlockStatusID], [SymbolID], [ExectuedQty], [LimitPrice], [TotalQty], [StopPrice], [CreationDate], [UpdationDate]) VALUES (3, 1, 1, 1, 1000, CAST(1000 AS Decimal(18, 0)), 1000, CAST(50 AS Decimal(18, 0)), CAST(N'2017-03-16 10:37:04.6146223' AS DateTime2), CAST(N'2017-03-16 10:37:04.6146223' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Block] OFF
SET IDENTITY_INSERT [dbo].[Block_status] ON 

INSERT [dbo].[Block_status] ([BlockStatusId], [StatusName], [ISActive], [CreationDate], [UpdationDate]) VALUES (1, N'In Progress', 1, CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Block_status] ([BlockStatusId], [StatusName], [ISActive], [CreationDate], [UpdationDate]) VALUES (2, N'Partially Filled', 1, CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Block_status] ([BlockStatusId], [StatusName], [ISActive], [CreationDate], [UpdationDate]) VALUES (3, N'Completely Filled', 1, CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Block_status] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [OrderTypeID], [BlockID], [PortfolioID], [PMID], [OrderStatusID], [MarketPrice], [LimitPrice], [AllocatedQty], [TotalQty], [ExpiryDate], [Side], [SymbolID], [StopPrice], [CreationDate], [UpdationDate]) VALUES (6, 4, 3, 1, 1, 2, CAST(350 AS Decimal(18, 0)), NULL, 0, 1000, NULL, N'Buy', 1, NULL, CAST(N'2016-12-12 00:00:00.0000000' AS DateTime2), CAST(N'2016-12-12 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Order] ([OrderID], [OrderTypeID], [BlockID], [PortfolioID], [PMID], [OrderStatusID], [MarketPrice], [LimitPrice], [AllocatedQty], [TotalQty], [ExpiryDate], [Side], [SymbolID], [StopPrice], [CreationDate], [UpdationDate]) VALUES (7, 4, 4, 2, 1, 2, CAST(200 AS Decimal(18, 0)), NULL, 0, 1212, NULL, N'Sell', 2, NULL, CAST(N'2017-01-21 00:00:00.0000000' AS DateTime2), CAST(N'2017-01-21 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Order] ([OrderID], [OrderTypeID], [BlockID], [PortfolioID], [PMID], [OrderStatusID], [MarketPrice], [LimitPrice], [AllocatedQty], [TotalQty], [ExpiryDate], [Side], [SymbolID], [StopPrice], [CreationDate], [UpdationDate]) VALUES (8, 4, 6, 1, 2, 2, CAST(350 AS Decimal(18, 0)), NULL, 0, 11111, NULL, N'Buy', 1, NULL, CAST(N'2017-02-28 00:00:00.0000000' AS DateTime2), CAST(N'2017-05-01 12:50:23.9505756' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[Order_Status] ON 

INSERT [dbo].[Order_Status] ([OrderStatusID], [StatusName], [ISActive], [CreationDate], [UpdationDate]) VALUES (1, N'Filled', 1, CAST(N'2017-02-24 11:43:00.0000000' AS DateTime2), CAST(N'2017-02-24 11:43:00.0000000' AS DateTime2))
INSERT [dbo].[Order_Status] ([OrderStatusID], [StatusName], [ISActive], [CreationDate], [UpdationDate]) VALUES (2, N'Pending', 1, CAST(N'2017-02-24 11:43:00.0000000' AS DateTime2), CAST(N'2017-02-24 11:43:00.0000000' AS DateTime2))
INSERT [dbo].[Order_Status] ([OrderStatusID], [StatusName], [ISActive], [CreationDate], [UpdationDate]) VALUES (3, N'Partially Filled', 1, CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Order_Status] OFF
SET IDENTITY_INSERT [dbo].[Order_Type] ON 

INSERT [dbo].[Order_Type] ([OrderTypeID], [OrderTypeName]) VALUES (4, N'Market Order')
INSERT [dbo].[Order_Type] ([OrderTypeID], [OrderTypeName]) VALUES (5, N'Limit Order')
INSERT [dbo].[Order_Type] ([OrderTypeID], [OrderTypeName]) VALUES (6, N'Stop Order')
SET IDENTITY_INSERT [dbo].[Order_Type] OFF
INSERT [dbo].[orders] ([OrderID], [OrderTypeID], [BlockID], [RiskClassID], [PMID], [OrderStatusID], [MarketPrice], [LimitPrice], [AllocatedQty], [TotalQty], [ExpiryDate], [Side], [SymbolID], [StopPrice], [CreationDate], [UpdationDate]) VALUES (N'4', N'4', N'20', N'1', N'1', N'2', N'NULL', N'234', N'0', N'1212', N'NULL', N'Buy', N'1', N'NULL', N'2017-03-15 15:19:28.5382626', N'2017-03-15 15:19:28.5382626')
INSERT [dbo].[orders] ([OrderID], [OrderTypeID], [BlockID], [RiskClassID], [PMID], [OrderStatusID], [MarketPrice], [LimitPrice], [AllocatedQty], [TotalQty], [ExpiryDate], [Side], [SymbolID], [StopPrice], [CreationDate], [UpdationDate]) VALUES (N'5', N'4', N'20', N'1', N'1', N'2', N'NULL', N'NULL', N'0', N'1212', N'NULL', N'Buy', N'1', N'NULL', N'2017-03-15 15:20:15.1762626', N'2017-03-15 15:20:15.6862626')
INSERT [dbo].[orders] ([OrderID], [OrderTypeID], [BlockID], [RiskClassID], [PMID], [OrderStatusID], [MarketPrice], [LimitPrice], [AllocatedQty], [TotalQty], [ExpiryDate], [Side], [SymbolID], [StopPrice], [CreationDate], [UpdationDate]) VALUES (N'6', N'4', N'6', N'1', N'1', N'2', N'NULL', N'NULL', N'0', N'1214251', N'NULL', N'Buy', N'1', N'NULL', N'2017-03-15 15:38:07.2412626', N'2017-03-15 15:38:07.2412626')
SET IDENTITY_INSERT [dbo].[Portfolio] ON 

INSERT [dbo].[Portfolio] ([PortfolioID], [PortfolioName], [ISActive], [CreationDate], [UpdationDate], [UserID]) VALUES (1, N'PQR', 1, CAST(N'2017-03-14 18:54:40.0000000' AS DateTime2), CAST(N'2017-03-14 18:54:40.1673071' AS DateTime2), 1)
INSERT [dbo].[Portfolio] ([PortfolioID], [PortfolioName], [ISActive], [CreationDate], [UpdationDate], [UserID]) VALUES (2, N'XYZ', 1, CAST(N'2017-03-14 18:54:40.0000000' AS DateTime2), CAST(N'2017-03-14 18:55:47.3233071' AS DateTime2), 1)
INSERT [dbo].[Portfolio] ([PortfolioID], [PortfolioName], [ISActive], [CreationDate], [UpdationDate], [UserID]) VALUES (3, N'MNO', 1, CAST(N'2017-03-14 18:54:40.0000000' AS DateTime2), CAST(N'2017-03-14 18:15:12.1331771' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Portfolio] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleType], [ISActive], [CreationDate], [UpdationDate]) VALUES (1, N'Trader', 1, CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Role] ([RoleID], [RoleType], [ISActive], [CreationDate], [UpdationDate]) VALUES (2, N'PM', 1, CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Role] ([RoleID], [RoleType], [ISActive], [CreationDate], [UpdationDate]) VALUES (3, N'Admin', 1, CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Symbol_Properties] ON 

INSERT [dbo].[Symbol_Properties] ([SymbolID], [Symbol], [Name], [Price]) VALUES (1, N'INFY', N'Infosys', CAST(432.00 AS Decimal(18, 2)))
INSERT [dbo].[Symbol_Properties] ([SymbolID], [Symbol], [Name], [Price]) VALUES (2, N'RIL', N'Reliance', CAST(164.00 AS Decimal(18, 2)))
INSERT [dbo].[Symbol_Properties] ([SymbolID], [Symbol], [Name], [Price]) VALUES (3, N'ONG', N'ONGC', CAST(280.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Symbol_Properties] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FName], [LName], [UserName], [PassWord], [ISActive], [CreationDate], [UpdationDate]) VALUES (1, N'Akshay', N'ABC', N'ABC', N'password', 1, CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[User] ([UserID], [FName], [LName], [UserName], [PassWord], [ISActive], [CreationDate], [UpdationDate]) VALUES (2, N'Kashish', N'456', N'BC', N'password', 0, CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[User] ([UserID], [FName], [LName], [UserName], [PassWord], [ISActive], [CreationDate], [UpdationDate]) VALUES (3, N'Meena', N'dsdasd', N'cde', N'password', 0, CAST(N'0001-01-01 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-14 19:08:40.9103071' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[User_Role] ON 

INSERT [dbo].[User_Role] ([UserRoleID], [UserID], [RoleID], [ISActive], [CreationDate], [UpdationDate]) VALUES (1, 1, 1, 1, CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-03 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[User_Role] ([UserRoleID], [UserID], [RoleID], [ISActive], [CreationDate], [UpdationDate]) VALUES (2, 4, 1, 1, CAST(N'2017-03-14 23:51:20.3954214' AS DateTime2), CAST(N'2017-03-14 23:51:20.3954214' AS DateTime2))
INSERT [dbo].[User_Role] ([UserRoleID], [UserID], [RoleID], [ISActive], [CreationDate], [UpdationDate]) VALUES (3, 3, 2, 1, CAST(N'2017-03-15 00:12:07.6594214' AS DateTime2), CAST(N'2017-03-15 00:12:07.6594214' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User_Role] OFF
ALTER TABLE [dbo].[Block]  WITH CHECK ADD  CONSTRAINT [FK_Block_Block_status] FOREIGN KEY([BlockStatusID])
REFERENCES [dbo].[Block_status] ([BlockStatusId])
GO
ALTER TABLE [dbo].[Block] CHECK CONSTRAINT [FK_Block_Block_status]
GO
ALTER TABLE [dbo].[Block]  WITH CHECK ADD  CONSTRAINT [FK_Block_Symbol_Properties] FOREIGN KEY([SymbolID])
REFERENCES [dbo].[Symbol_Properties] ([SymbolID])
GO
ALTER TABLE [dbo].[Block] CHECK CONSTRAINT [FK_Block_Symbol_Properties]
GO
ALTER TABLE [dbo].[Block]  WITH CHECK ADD  CONSTRAINT [FK_Block_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Block] CHECK CONSTRAINT [FK_Block_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Block] FOREIGN KEY([BlockID])
REFERENCES [dbo].[Block] ([BlockID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Block]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Order_Status] FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[Order_Status] ([OrderStatusID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Order_Type] FOREIGN KEY([OrderTypeID])
REFERENCES [dbo].[Order_Type] ([OrderTypeID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Order_Type]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Portfolio] FOREIGN KEY([PortfolioID])
REFERENCES [dbo].[Portfolio] ([PortfolioID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Portfolio]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Symbol_Properties] FOREIGN KEY([SymbolID])
REFERENCES [dbo].[Symbol_Properties] ([SymbolID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Symbol_Properties]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([PMID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Portfolio]  WITH CHECK ADD  CONSTRAINT [FK_Portfolio_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Portfolio] CHECK CONSTRAINT [FK_Portfolio_User]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_User_Role_Role]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_User_Role_User]
GO
/****** Object:  StoredProcedure [dbo].[UPSERT]    Script Date: 5/5/2017 3:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Samyak Puri
-- Create date: 3/15/2017
-- Description:	UPSERT for Symbol_Properties
-- =============================================
CREATE PROCEDURE [dbo].[UPSERT] 
	-- Add the parameters for the stored procedure here
	@Symbol varchar(50) = 0, 
	@Price decimal(18,4) = 0,
	@Name varchar(50) = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS ( SELECT * FROM dbo.Symbol_Properties WHERE Symbol = @Symbol)
	BEGIN
		UPDATE dbo.Symbol_Properties
		SET Price = @Price
		WHERE Symbol = @Symbol;
	END

	ELSE
	BEGIN
		WAITFOR DELAY '00:00:03'
		INSERT INTO dbo.Symbol_Properties(Symbol,Name,Price) VALUES(@Symbol,@Name,@Price);
	END
END;

GO
USE [master]
GO
